<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="manifest" th:href="@{manifest.json}">
<title>レイアウト画面</title>
</head>
<body>
	<!-- 共通ヘッダー -->
	<header class="header">
		<div class="header__inner">
			<div class="logo">
				<img src="/images/icon.png" />
			</div>
			<!-- メニューリスト -->
			<nav class="header__nav nav" id="navbar">
				<ul class="nav__items nav-items">
					<li class="nav-items__item"><a href="#">プロフィール</a></li>
					<li class="nav-items__item"><a th:href="@{/invitation}">招待コード</a></li>
					<li class="nav-items__item"><a href="#">ファミリー</a></li>
					<li class="nav-items__item"><a href="#">赤ちゃん情報</a></li>
					<li class="nav-items__item"><a href="#">ログアウト</a></li>
				</ul>
			</nav>
			<!--  -->
			<!-- ハンバーガーメニュー -->
			<button class="header__hamburger hamburger" id="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<!--  -->
		</div>
	</header>
	<div class="main-content" layout:fragment="content"></div>
	<footer class="footer">
		<nav>
			<ul>
				<li><a th:href="@{view-home}"><i class="fa-solid fa-house"></i><br>ホーム</a></li>
				<li><a th:href="@{calender}"><i class="fa-solid fa-calendar-days"></i><br>カレンダー</a></li>
				<li><a th:href="@{weight}"><i class="fa-regular fa-calendar-days"></i><br>成長カレンダー</a></li>
				<li><a th:href="@{invitation}"><i class="fa-solid fa-share"></i><br>シェア</a></li>
			</ul>
		</nav>
	</footer>
	<script>
		const hamburger = document.querySelector('#hamburger');
		const nav = document.querySelector('#navbar');
		
		hamburger.addEventListener('click', function(){
			hamburger.classList.toggle('active');
			navbar.classList.toggle('active');
		});
	</script>
</body>
</html>