@charset "UTF-8";
h1
{
	font-weight:normal;
	padding-top: 0%;
	font-size: 90px;
	text-align: center ;
	background-color: #FFCCFF;
	margin: 0;
}
.class{
	font-size: 40px;
	padding-left: 5%;
	padding-top:50%;
}
.ko-do{
/*	font-size: 40px;*/
/*	width: 20%;*/
/*	padding-top:0%;*/
/*position: absolute;*/

 border: solid;
 position: center;

 border-radius: 165px;

 border-color: #FFA990;

/* margin:120px 75px;*/

 width: 900px;

 height: 150px;

 background-color: #FFFFFF;
}
.links{
	padding-top:20%;
	font-size: 50px;
	text-align: center ;
	
}
body{
	 background-color: #FFEEFF;
}