@charset "UTF-8";

footer {
	border-top: 1px solid gray;
}

nav>ul {
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: space-around;
}

nav>ul>li {
	width: 25%;
	text-align: center;
}

.footer li a {
	text-align: center;
	display: block;
	width: 100%;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}