@charset "UTF-8";
.log{
	font-weight:normal;
	font-size: 80px;
	text-align: center ;
	padding-top: 60%;
}
.suteki{
	font-weight:normal;
	font-size: 40px;
	text-align: center ;
	padding-top: 0%;
}
.syasin{
	display: block;
	font-weight:normal;
	font-size: 90px;
	text-align: center ;
	margin-top: 0%;
	color: deepskyblue;
}
button{
display:block;
  margin:0 auto;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 50px;
	  text-align: center;
	 font-weight:bold;
	 background-color: #FFCCFF;
	 margin-top: 30%;
}
body{
	 background-color: #FFEEFF;
}