@charset "UTF-8";

header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #FCD5FF;
	box-sizing: border-box;
}

img {
	width: 30vw;
}

body {
	background-color: #FEF1FF;
	width: 100%;
	margin: 0;
	padding: 0;
}

.logo {
	text-align: center;
}

.container {
	display: block;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 125px;
}

.inputTxt {
	margin-right: 45px;
	margin-left: 45px;
	text-align: left;
}

.inputForm {
	border-radius: 10px;
	border: 2px solid;
	width: 310px;
	height: 55px;
	margin: 0;
	padding: 0;
	padding-left: 3%;
	margin-top: 3px;
	margin-bottom: 15px;
}

.select-box {
	position: relative;
}

select {
	-webkit-appearance: none;
    appearance: none; 
}

.select-box::after {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 12.5px solid ;
	content: "";
	position: absolute;
	right: 20px;
	top: 25px;
	width: 0;
	pointer-events: none;
}

.seltype {
	border-radius: 10px;
	border: 2px solid;
	margin-top: 3px;
	width: 323px;
	height: 55px;
	margin: 0;
	padding: 0;
	padding-left: 3%;
	margin-top: 3px;
	margin-bottom: 40px;
}

.btn {
	border: none;
	border-radius: 30px;
	background: #FCD5FF;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	width: 260px;
	height: 50px;
	margin-bottom: 5%;
}

.login {
	font-size: 12px;
	color:inherit
}

li {
	display: block;
	padding-right: 40px;
	color: red;
}