@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	width: 100%;
}




body {
	background-color: #FEF1FF;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
}

.babyName {
	position: absolute;
	border: solid;
	border-radius: 30px;
	border-color: #FFA990;
	width: 345px;
	height: 55px;
	background-color: #FFFFFF;
	text-align: center;
}

.name {
	padding-top: 3px;
	font-size: 34px;
}

.imageArea {
	display: flex;
	width: 335px;
	height: 326px;
	border: none;
	border-radius: 100%;
	background-color: #FFFFFF;
	margin-top: 30%;
	justify-content: center;
}

.babyImage {
	object-fit: contain;
	border-radius: 50%;
	object-fit: cover;
}

.detail {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.afterBirth {
	border-right: solid;
	border-color: #FFA990;
	text-align: center;
}

.birthDay {
	text-align: center;
}

.age {
	background-color: #FFA990;
	border: none;
	border-radius: 30px;
	font-size: 20px;
	width: 30%;
	margin-left: 30%;
}