@charset "UTF-8";

body {
    background-color: #FEF1FF;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"], input[type="button"] {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#weightInput {
    width: 100px;
    text-align: center;
}

#displayWeight {
    font-size: 24px;
    margin-top: 10px;
}

#imageButton {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
}

#insertButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FCD5FF;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 20px; /* 左右に10pxの空白を追加 */
  cursor: pointer;
}

#weightButton{
	width: 30px;
	height: 30px;
	margin: 20px 20px;
}

#dateInput{
	width: 100px;
	margin:25%;
	padding: 2%;
	
}

#weightText{
	color: black;
	margin: 10px 10px;
}

#memo{
	width: 300px;
	height: 200px;
}