<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<meta name="viewport" content="width=device-width", initial-scale=1.0>
<link th:href="@{/css/diary_kalendar.css}" rel="stylesheet" type="text/css" />
<title>日記カレンダー</title>
<script>
function post_date(){
	let date = document.getElementById('date').value;
	localStorage.setItem('select_date', date);
	console.log(date);
	location.href = "/diary";
}
</script>
</head>
<body>
<header class="header">
		<div class="header__inner">
			<!-- メニューリスト -->
			<nav class="header__nav nav" id="navbar">
				<ul class="nav__items nav-items">
					<li class="nav-items__item"><a href="#">プロフィール</a></li>
					<li class="nav-items__item"><a href="#">招待コード</a></li>
					<li class="nav-items__item"><a href="#">ファミリー</a></li>
					<li class="nav-items__item"><a href="#">赤ちゃん情報</a></li>
					<li class="nav-items__item"><a href="#">ログアウト</a></li>
				</ul>
			</nav>
			<!--名前-->
			<p class="header_title">日記</p>
			<!-- ハンバーガーメニュー -->
			<button class="header__hamburger hamburger" id="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<!--  -->
		</div>
	</header>

<form>
	<p class="select">日付選択</p><br>
	<input type="date" class="date" id="date" name="日付">
	
	<div class="buttons">
		<div class="button" onclick="post_date()"><span>記録する</span></div>
		<a class="button" href="weight"><span>体重グラフ</span></a>
	</div>
</form>

<footer class="footer">
		<ul>
			<li><a href="#"><i class="fa-solid fa-house"></i><br>
			<p>ホーム</p></a></li>
			<li><a href="#"><i class="fa-solid fa-calendar-days"></i><br>
			<p>カレンダー</p></a></li>
			<li><a href="#"><i class="fa-regular fa-calendar-days"></i><br>
			<p>成長カレンダー</p></a></li>
			<li><a href="#"><i class="fa-solid fa-share"></i><br>
			<p>シェア</p></a></li>
		</ul>
</footer>
</body>
</html>