<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link th:href="@{/css/signup.css}" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
<title>新規登録</title>
</head>
<body>
	<!-- ヘッダー -->
	<header class="header">
		<div class="logo">
			<img src="/images/icon.png" />		
		</div>
	</header>
	<!-- ここまで -->
	<div class="container">
		<form action="@{/signup}" method="post">
			<div class="inputTxt">
				<label for="email">メールアドレス</label>
				<input type="email" name="mail" class="inputForm" placeholder="メールアドレス"><br>
				<label for="pass">パスワード</label><br>
				<input type="password" name="pass" class="inputForm" placeholder="パスワード"><br>
				<label for="checkpass" class="labeltxt">パスワードの確認</label><br>
				<input type="password" name="checkpass" class="inputForm" placeholder="パスワードの確認"><br>
				<label for="userName">ユーザー名</label><br>
				<input type="text" name="userName" class="inputForm" placeholder="ユーザー名"><br>
				<label for="usertype" class="labeltxt">あなたはどちら側ですか？</label><br>
				<div class="select-box">
					<select class="seltype" name="usertype">
						<option value="" selected hidden>選択してください</option>
						<option value="host">記録</option>
						<option value="view">閲覧</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-lg my-3">次へ</button>
		</form>
		<a th:href="@{/login}" class="login">既にアカウントをお持ちの方はこちら</a>
	</div>
</body>
</html>