<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width">
 <link th:href="@{/css/weight.css}" rel="stylesheet" type="text/css">
 <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css" />
 <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    <title>体重グラフ</title>
</head>
<body>
	<header class="header">
		<div class="header__inner">
			<div class="logo">
				<img src="/images/icon.png" />		
			</div>
			<!-- メニューリスト -->
			<nav class="header__nav nav" id="navbar">
				<ul class="nav__items nav-items">
					<li class="nav-items__item"><a href="#">プロフィール</a></li>
					<li class="nav-items__item"><a href="#">招待コード</a></li>
					<li class="nav-items__item"><a href="#">ファミリー</a></li>
					<li class="nav-items__item"><a href="#">赤ちゃん情報</a></li>
					<li class="nav-items__item"><a href="#">ログアウト</a></li>
				</ul>
			</nav>
	</header>
    <h1>週ごとと月ごとの体重の変化</h1>

    <div>
        <button class="button" onclick="month()" id="weeklyButton">週ごと</button>
        <button class="button" onclick="month()" id="monthlyButton">月ごと</button>
    </div>
    
    <div style="position: relative; height: 60vh; width: 100vw;">
    <canvas id="weightChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script th:inline="javascript">
        // グラフデータをThymeleafから受け取る
        //var labels = /*[[${labels}]]*/ [];
        //var data = /*[[${data}]]*/ [];

        // グラフを描画するためのコード
        var ctx = document.getElementById('weightChart').getContext('2d');
        var weightChart = new Chart(ctx, {
            type: 'line',
  data: {
    labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    datasets: [{
      label: '月の体重',
      data: [20, 35, 40, 30, 45, 35, 40],
      borderColor: '#f88',
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '体重グラフ',
                    },
                },
            },
            options: {
			responsive:true,
			maintainAspectRatio: false
		},
        });
    </script>
    
    		<footer class="footer">
		<ul>
			<li><a href="#"><i class="fa-solid fa-house"></i><br>
			<p>ホーム</p></a></li>
			<li><a href="#"><i class="fa-solid fa-calendar-days"></i><br>
			<p>カレンダー</p></a></li>
			<li><a href="#"><i class="fa-regular fa-calendar-days"></i><br>
			<p>成長カレンダー</p></a></li>
			<li><a href="#"><i class="fa-solid fa-share"></i><br>
			<p>シェア</p></a></li>
		</ul>
	</footer>
</body>
</html>